<html>
    <head>
        <%- include("partials/header.ejs") -%>
    </head>

    <body>
        <!-- 404 page -->
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class="flex flex-wrap">
                    <div class="w-full">
                        <div class="bg-gray-900 border border-gray-800 rounded shadow p-6 m-4">
                            <div class="flex flex-wrap">
                                <div class="w-full">
                                    <h1 class="text-xl font-semibold text-white">404</h1>
                                    <p class="text-gray-400 text-sm">Page not found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>